


<div class="container">






  <!-- Carousel -->

<div class="row">
  <div class="col-md-10 col-md-offset-1">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag(@carousel_item_1.img_url) %>
      <div class="carousel-caption">
        <p> <%= @carousel_item_1.description %></p>
      </div>
    </div>
    <div class="item">
      <%= image_tag(@carousel_item_2.img_url) %>
      <div class="carousel-caption">
        <p> <%= @carousel_item_2.description %> </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag(@carousel_item_3.img_url) %>
      <div class="carousel-caption">
        <p> <%= @carousel_item_3.description %> </p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

  </div>
</div>






  <!-- Welcome information panel -->



<br />
<div class="row">

  <div class="col-md-5 col-md-offset-2">
    <div class="panel panel-default">
      <div class="list-group-item">
        
        <h1> Welcome! </h1>
        
        <br />
        
        <p>Thanks for stopping by our website! We are the Asian American Christian Fellowship at Vanderbilt. We are a chapter of InterVarsity Chrstian Fellowship. We reach out to the students on our campus in Jesus Christ. </p>
        <br />
        <p>In serving our Lord, we work in transforming our campus through prayers and by spreading the gospel.</p>
        <br />
        <p> We're really excited for this upcoming year! If you'd like to get involved, feel free to contact us! </p>
        
      </div>
    </div>
  </div>
  
  
  
  
    <!-- Upcoming Events -->

  <div class="col-md-3">
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Upcoming Events</div>

  <!-- List group -->
  <ul class="list-group">
    <% @upcoming_events.each do |ue| %>
      <li class="list-group-item">
      
        <h3> <%= ue.title %> </h3>
        <div>
          <%= image_tag(ue.img_url, class: "img-rounded event-image") %>
        </div>
        <p> <b>Description: </b><%= ue.description %> </p>
        <p> <b>Location: </b><%= ue.location %> </p>
        <p> <b> Date/Time:  </b><%= ue.event_time.strftime("%a %B %d at %I:%M %p") %></p>
      
      </li>
    <% end %>
      
  </ul>
</div>
  </div>



</div>