

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @leader.position %></h3>
  </div>
  <div class="panel-body">
    
    
    <div>
      <%= image_tag(@leader.img_url, class: "img-rounded profile-image") %>
    </div>
    
    <br />
    
    
<dl class="dl-horizontal">
  
  <dt>Name</dt>
  <dd><%= @leader.name %></dd>
  
  <dt>Year</dt>
  <dd><%= @leader.year %></dd>
  
  <dt>Major</dt>
  <dd><%= @leader.major %></dd>
  
  <dt>Hometown</dt>
  <dd><%= @leader.hometown %></dd>
  
  <dt>Email</dt>
  <dd><%= mail_to(@leader.email, "Email #{@leader.name}", encode: "javascript") %></dd>
  
  <dt>Strange Fact</dt>
  <dd><%= @leader.strange_fact %></dd>
  
  <dt>Interests</dt>
  <dd><%= @leader.interests %></dd>
  
  <dt>DT</dt>
  <dd>DD </dd>
</dl>

  </div>
</div>


