

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @leader.position %></h3>
  </div>
  <div class="panel-body">
    
<dl class="dl-horizontal">
  
  <dt>Name</dt>
  <dd><%= @leader.name %></dd>
  
  <dt>Year</dt>
  <dd><%= @leader.year %></dd>
  
  <dt>Major</dt>
  <dd><%= @leader.major %></dd>
  
  <dt>Hometown</dt>
  <dd><%= @leader.hometown %></dd>
  
  <dt>Email</dt>
  <dd><%= @leader.email %></dd>
  
  <dt>Strange Fact</dt>
  <dd><%= @leader.strange_fact %></dd>
  
  <dt>Interests</dt>
  <dd><%= @leader.leadership_position %></dd>
  
  <dt>DT</dt>
  <dd>DD</dd>
</dl>

  </div>
</div>


