<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">


<h1>Listing leaders</h1>

<div class="indexedit-form">

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Leadership position</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaders.each do |leader| %>
      <tr>
        <td><%= leader.position %></td>
        <td><%= leader.name %></td>
        <td><%= leader.leadership_position %></td>
        <td><%= image_tag(leader.img_url, class: "img-rounded sample-image") %></td>
        <td><%= link_to 'Show', leader %></td>
        <td><%= link_to 'Edit', edit_leader_path(leader) %></td>
        <td><%= link_to 'Destroy', leader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

<%= link_to 'New Leader', new_leader_path %>


  </div>
</div>
</div>
