<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
<div class="panel panel-default">
  <div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @leader.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @leader.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @leader.year %>
</p>

<p>
  <strong>Major:</strong>
  <%= @leader.major %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @leader.hometown %>
</p>

<p>
  <strong>Email:</strong>
  <%= @leader.email %>
</p>

<p>
  <strong>Strange fact:</strong>
  <%= @leader.strange_fact %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @leader.interests %>
</p>

<p>
  <strong>Leadership position:</strong>
  <%= @leader.leadership_position %>
</p>

<p>
  <strong>Img Url:</strong>
  <%= @leader.img_url %>
</p>

<p>
  <strong>Graduated:</strong>
  <%= @leader.graduated %>
</p>

<p>
  <strong>Contact ok:</strong>
  <%= @leader.contact_ok %>
</p>

<p>
  <strong>Past positions:</strong>
  <%= @leader.past_positions %>
</p>

<p>
  <strong>Post grad email:</strong>
  <%= @leader.post_grad_email %>
</p>

<%= link_to 'Edit', edit_leader_path(@leader), class: "btn btn-warning" %> |
<%= link_to 'Back', indexedit_path, class: "btn btn-primary" %>

</div>
</div>
  </div>
  
  <div class="row">
    <div class="col-md-5">
    <div class="panel panel-default">
  <div class="panel-body">
       <h1>Image Preview </h1>
    </div>
    
    <div>
      <%= image_tag(@leader.img_url, class: "img-rounded profile-image") %>
    </div>
  </div>
  </div>
  </div>

</div>
</div>