<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">



<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @prayer_time.location %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @prayer_time.event_time %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @prayer_time.weekday %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @prayer_time.img_url %>
</p>

<p>
  <strong>Image active:</strong>
  <%= @prayer_time.image_active %>
</p>

<%= link_to 'Edit', edit_prayer_time_path(@prayer_time), class: "btn btn-warning" %> |
<%= link_to 'Back', prayer_times_path, class: "btn btn-primary" %>



  </div>
  </div>
  </div>
</div>
</div>