<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class = "text-center"> Large Group </h1>
        
        <br />
        
        <p> <%= @large_group.description %> </p>
        <br />
          <%= image_tag(@large_group.img_url, class: "img-rounded large-group-image") %>
        <br />
        <p> Weekly meeting on <%= @large_group.weekday %> </p>
        
        <p><b> Location: </b><%= @large_group.location %> </p>
        
        <p><b> Time: </b><%= @large_group.event_time.strftime("%I:%M %p") %> </p>
        <br />
        
        
      </div>
    </div>
  
  
  
  
  
  </div>
  
</div>
</div>