<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  
  <div class="form-group">
    <%= f.label :graduation_year %><br>
    <%= f.select :graduation_year, Student::GRADUATION_YEAR,{} , :class => "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.check_box :contact %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-warning" %>
  </div>
<% end %>
