
<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="list-group-item">
  
  <h1 class="text-center"> <%= "#{@event.name} Attendance"%> </h1>
  
  <h2 class = "text-right"> Total: <%= @students.count %> </h2>
  
  <%= link_to 'Back to all Events', events_path, class: "btn btn-info"%>
  
  <%= link_to 'Show Event', event_path, class: "btn btn-warning text-right" %>
  
  <%= link_to 'Refresh Attendance', event_attendance_path(@event), class: "btn btn-primary" %>
  
  <%= link_to 'Refresh Present', refresh_div_path, remote: true, class: "btn btn-success" %>
  
  <%= link_to 'New Student', new_student_path, class: "btn btn-danger" %>
  
  </div>
  </div>
  </div>
</div>
</div>


<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">
  
  <h1 class="text-center"> Seniors </h1>
  
    <div id="seniors">
      <%= render "seniors"%>
    </div>
  
  </div>
  </div>
  </div>
  
  <div class="col-md-3 col-md-offset-0">
  <div class="panel panel-default">
  <div class="panel-body">
  
    
      <div id="refresh_seniors">
       <h3> Seniors Present: <%= @Seniors_present.count%> </h3>
      </div>
  </div>
  </div>
  </div>
  
  
  
</div>
</div>

  
  
  <div id = "change_text">
  </div>


<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">


  <h1 class="text-center"> Juniors </h1>
  
    <div id="juniors">
      <%= render "juniors"%>
    </div>

  
  </div>
  </div>
  </div>
  
  
  <div class="col-md-3 col-md-offset-0">
  <div class="panel panel-default">
  <div class="panel-body">
  
    
    <div id="refresh_juniors">
      <h3> Juniors Present: <%= @Juniors_present.count%> </h3>
    </div>
  
  </div>
  </div>
  </div>
  
  
  
</div>
</div>




<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">
  

  <h1 class="text-center"> Sophomores </h1>
  
    <div id="sophomores">
      <%= render "sophomores"%>
    </div>
  
  </div>
  </div>
  </div>
  
  <div class="col-md-3 col-md-offset-0">
  <div class="panel panel-default">
  <div class="panel-body">
  
    
    <div id="refresh_sophomores">
      <h3> Sophs Present: <%= @Sophomores_present.count%> </h3>
    </div>
  
  </div>
  </div>
  </div>
  
   
</div>
</div>
 
 
 
 
 
<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body"> 
  
  
  
  <h1 class="text-center"> Freshmen </h1>
  
    <div id="freshmen">
      <%= render "freshmen"%>
    </div>
  
  </div>
  </div>
  </div>
  
  
  <div class="col-md-3 col-md-offset-0">
  <div class="panel panel-default">
  <div class="panel-body">
  
    
    <div id="refresh_freshmen">
      <h3> Freshmen Present: <%= @Freshmen_present.count%> </h3>
    </div>
  
  </div>
  </div>
  </div>
  
  
</div>
</div>
  
  
  
  
  
<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">
  
  <h1 class="text-center"> Others </h1>
  
    <div id = "others">
      <%= render "others"%>
    </div>
    
  </div>
  </div>
  </div>
  
  <div class="col-md-3 col-md-offset-0">
  <div class="panel panel-default">
  <div class="panel-body">
  
    
    <div id="refresh_others">
      <h3> Others Present: <%= @Others_present.count%> </h3>
    </div>
  
  </div>
  </div>
  </div>
  
</div>
</div>


