<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<%= link_to 'Attendance', event_attendance_path, class: "btn btn-primary" %> <br /> <br />

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-warning" %> |
<%= link_to 'Back', events_path, class: "btn btn-info" %>


  </div>
  </div>
  </div>
  
  <div class="col-md-3 col-md-offset-0">
  
  <div class="panel panel-default">
  <div class="panel-body">
  
  <h1> Seniors </h1>
  
    <ul>
      <% @Seniors_present.each do |student| %>
        <li> <%= student.name %> </li>
      <% end %>
    </ul>
  
  <h1> Juniors </h1>
  
    <ul>
      <% @Juniors_present.each do |student| %>
        <li> <%= student.name %> </li>
      <% end %>
    </ul>

  <h1> Sophomores </h1>
  
    <ul>
      <% @Sophomores_present.each do |student| %>
        <li> <%= student.name %> </li>
      <% end %>
    </ul>
    
  <h1> Freshmen </h1>
  
    <ul>
      <% @Freshmen_present.each do |student| %>
        <li> <%= student.name %> </li>
      <% end %>
    </ul>
    
  <h1> Others </h1>
  
    <ul>
      <% @Others_present.each do |student| %>
        <li> <%= student.name %> </li>
      <% end %>
    </ul>
  
  
  
  
</div>
</div>