<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date.strftime("%D %r") %>
</p>

<p>
  <strong>Total Students:</strong>
  <%= @Students.count %>
</p>

<%= link_to 'Attendance', event_attendance_path, class: "btn btn-primary" %> <br /> <br />

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-warning" %> |
<%= link_to 'Back', events_path, class: "btn btn-info" %>


  </div>
  </div>
  </div>
  
  <div class="col-md-3 col-md-offset-0">
  
  <div class="panel panel-default">
  <div class="panel-body">
  
  <h1> Seniors: <%= @Seniors_present.count%> </h1>
  
    
      <% @Seniors_present.each do |student| %>
         <%= link_to student.name, student_path(student), class: "btn btn-success" %>
      <% end %>
    
  
  <h1> Juniors: <%= @Juniors_present.count %> </h1>
  
    
      <% @Juniors_present.each do |student| %>
        <%= link_to student.name, student_path(student), class: "btn btn-success" %>
      <% end %>
    

  <h1> Sophomores: <%= @Sophomores_present.count %> </h1>
  
    
      <% @Sophomores_present.each do |student| %>
        <%= link_to student.name, student_path(student), class: "btn btn-success" %>
      <% end %>
    
    
  <h1> Freshmen: <%= @Freshmen_present.count %> </h1>
  
    
      <% @Freshmen_present.each do |student| %>
        <%= link_to student.name, student_path(student), class: "btn btn-success" %>
      <% end %>
    
    
  <h1> Others: <%= @Others_present.count %> </h1>
  
    
      <% @Others_present.each do |student| %>
        <%= link_to student.name, student_path(student), class: "btn btn-success" %>
      <% end %>
    
  
  
  
  
</div>
</div>