<div class="container">

<div class="row">

  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-body">
        <h1>Small Groups</h1>
        <br />
        <p> <%= @small_group_text %> </p>
      </div>
    </div>
  </div>


  <div class="col-md-5">
  
  





  
    <% @small_groups.each do |sg| %>
      <% unless sg.disabled %>
        <div class="panel panel-default">
          <div class="list-group-item">
            <h1 class = "text-center"><%= sg.leaders %> </h1> <br />
            
            <%= image_tag(sg.img_url, class: "img-rounded small-group-image") %> <br />
            
            <p> <b> Topic: </b><%= sg.topic %> </p>
            <p> <b>Location: </b><%= sg.location %> </p>
            <p> <b>Weekly on: </b><%= sg.weekday %> </p>
            <p> <b>Time: </b><%= sg.event_time.strftime("%I:%M %p") %> </p>
            <p> <b>Contact: </b><%= sg.contact %> </p>
            
              <% if sg.leaders_note_1_active %>
                <p> <b>Leaders' Notes:</b> <%= sg.leaders_note_1 %> </p>
              <% end %>
          
              <% if sg.leaders_note_2_active %>
                <p> <%= sg.leaders_note_2 %> </p>
              <% end %>
          
              <% if sg.leaders_note_3_active %>
                <p> <%= sg.leaders_note_3 %> </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      

  
  
  
  
  
  </div>
</div>
</div>