<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">



<p id="notice"><%= notice %></p>

<p>
  <strong>Leaders:</strong>
  <%= @small_group.leaders %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @small_group.img_url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @small_group.location %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @small_group.weekday %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @small_group.event_time %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @small_group.topic %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @small_group.contact %>
</p>

<p>
  <strong>Leaders note 1:</strong>
  <%= @small_group.leaders_note_1 %>
</p>

<p>
  <strong>Leaders note 1 active:</strong>
  <%= @small_group.leaders_note_1_active %>
</p>

<p>
  <strong>Leaders note 2:</strong>
  <%= @small_group.leaders_note_2 %>
</p>

<p>
  <strong>Leaders note 2 active:</strong>
  <%= @small_group.leaders_note_2_active %>
</p>

<p>
  <strong>Leaders note 3:</strong>
  <%= @small_group.leaders_note_3 %>
</p>

<p>
  <strong>Leaders note 3 active:</strong>
  <%= @small_group.leaders_note_3_active %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @small_group.disabled %>
</p>

<%= link_to 'Edit', edit_small_group_path(@small_group), class:"btn btn-warning" %> |
<%= link_to 'Back', small_groups_path, class: "btn btn-primary" %>



  </div>
  </div>
  </div>
</div>
</div>