<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">


<h1>Editing static_text</h1>




<%= form_for(@static_text) do |f| %>
  <% if @static_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@static_text.errors.count, "error") %> prohibited this static_text from being saved:</h2>

      <ul>
      <% @static_text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-warning"%>
  </div>
<% end %>




<%= link_to 'Show', @static_text, class: "btn btn-info" %> |
<%= link_to 'Back', static_texts_path, class: "btn btn-primary" %>


  </div>
  </div>



  </div>
</div>
</div>