<div class="container">

<div class="row">
  <div class="col-md-12 col-md-offset-0">
  
  <div class="panel panel-default">
  <div class="panel-body">



<h1>Listing static_texts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @static_texts.each do |static_text| %>
      <tr>
        <td><%= static_text.title %></td>
        <td><%= static_text.body %></td>
        <td><%= static_text.active %></td>
        <td><%= link_to 'Show', static_text, class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Edit', edit_static_text_path(static_text), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Destroy', static_text, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Static text', new_static_text_path, class: "btn btn-primary" %>



  </div>
  </div>


  </div>
</div>
</div>