<div class="container">

<div class = "row">
  <div class = "col-md-3 col-md-offset-4">
    <div class = "text-center">
      <h1> Dashboard </h1>
      <br />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-male fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Use this link to edit the information about this year's current leaders. </p>
          </div>
          <%= link_to('Edit Leaders Profiles', indexedit_path, :class => 'btn btn-primary')  %>
        </div>
      </div>
    </div>
  
  </div>

  <div class="col-md-3">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-info fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Use this link to edit the theme for this year located in the About page. </p>
          </div>
          <%= link_to('Edit About Page', static_texts_path, :class => 'btn btn-primary')  %>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="col-md-3">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-users fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Use this link to approve users and grant admin privileges. </p>
          </div>
          <%= link_to('Edit User Account Settings', users_path, :class => 'btn btn-primary')  %>
        </div>
      </div>
    </div>
  
  </div>
</div>








<div class="row">
  <div class="col-md-3 col-md-offset-1">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-book fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Use this link to edit the information about Small Groups. </p>
          </div>
          <%= link_to('Edit Small Groups', small_groups_path, :class => 'btn btn-primary')  %>
        </div>
      </div>
    </div>
  
  </div>

  <div class="col-md-3">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-glass fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Use this link to edit the information about Large Group. </p>
          </div>
          <%= link_to('Edit Large Group', large_groups_path, :class => 'btn btn-primary')  %>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="col-md-3">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-photo fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Use this link to change banners in the homepage carousel. </p>
          </div>
          <%= link_to('Edit Carousel Items', carousel_items_path, :class => 'btn btn-primary')  %>
        </div>
      </div>
    </div>
  
  </div>
</div>








<div class ="row">
  <div class="col-md-3 col-md-offset-1">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-calendar fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Use this link to update upcoming events on homepage. </p>
          </div>
          <%= link_to('Edit Upcoming Events', upcoming_events_path, :class => 'btn btn-primary')  %>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="col-md-3">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-coffee fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Use this link to update prayer times for this current school year.</p>
          </div>
          <%= link_to('Edit Prayer Times', prayer_times_path, :class => 'btn btn-primary')  %>
        </div>
      </div>
    </div>
  
  </div>
  
  
  <div class="col-md-3">
  
    <div class="panel panel-default">
      <div class="panel-body">
        <div class = "text-center">
          <span class="fa fa-cog fa-spin fa-5x"></span>
          <br />
          <br />
          <div class = "well well-sm">
            <p> Coming Soon: Attendance system to keep records of events.</p>
          </div>
          <%= link_to('Take Attendance', indexedit_path, :class => 'btn btn-primary disabled')  %>
        </div>
      </div>
    </div>
  
  </div>
  
</div>

</div>