<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">
  
  
  
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @upcoming_event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @upcoming_event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @upcoming_event.location %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @upcoming_event.event_time %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @upcoming_event.img_url %>
</p>

<%= link_to 'Edit', edit_upcoming_event_path(@upcoming_event), class: "btn btn-warning" %> |
<%= link_to 'Back', upcoming_events_path, class: "btn btn-primary" %>



  </div>
  </div>
  </div>
</div>
</div>