<!DOCTYPE html>
<html>
<head>
  <title>AACF</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>



<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    
    
    <div class="navbar-collapse collapse">
    
    <% if user_signed_in? %>
      
        <ul class="nav navbar-nav">
          <li class = "navbar-brand"> <%= current_user.email %> </li>
          <li><%=link_to 'Dashboard', dashboards_index_path%></li>
          <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      
    <% else %>
      <a class="navbar-brand" href="#">AACF</a>
      <%=link_to 'AACF', new_user_session_path, class: "navbar-brand"%>
    <% end %>    
    
      <ul class="nav navbar-nav navbar-right" id="mainNavBar">
        <li><%=link_to 'Home', page_path('home')%></li>
        <li><%=link_to 'About', page_path('about')%></li>
        <li><%=link_to 'Leaders', leaders_path%></li>
        <li><%=link_to 'Contact', new_contact_path%></li>
        
        <li> </li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>



<%= yield %>

</body>
</html>
